@charset "UTF-8";

.middle{
	border: solid 1px black; 
	width: 100%;
	height: 30%;
	position:relative;
}
.bottom{
	height: 50%;
}
.mdlist{	
	height : 50%;
	float: left; 
	display: inline-block;
	
}
.listbutton{
	float: left;	
		padding-top: 20px;
		padding-right: 20px;

}


.listtable {	
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border: 1px solid #ccc;
	margin: 20px 10px 0px 70px;
	width: 90%;
	float: left;
}
.listtable thead{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #E0F2F7;
}
.listtable thead tr td{
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #084B8A;
	text-align : center;

}
.listtable tbody tr td {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	text-align : center;
	
}
.listtable td {
	
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
.input{
	padding-top: 24%;
}




.listbutton{
	float: right;
}
#addlist{
	position: absolute; float: left; bottom: 0px;
	vertical-align: bottom;
	
}

.bottom{
		border: solid 1px black; 
}

.functionkey{
	text-align : center;
	
	float: left;
	padding-right: 30px;
	font-size : 20px;
	margin-left: 100px;
	margin-right: 220px;
		
}

.functiontable{
	width : 400px;	
	height: 80px;

}
.functiontable tr td{
	height: 80px;

}

.printprice{
	text-align : center;
		float: left;
	padding-right: 30px;
	font-size : 20px;
	
}
.prnum{
		text-align : right;
		padding-right: 20px;
}
.printprice table{
	width: 400px;
}

.printprice tr td{
	
	height: 80px;
	
}





.numbotton{
	margin-right : 100px;
	float: right;
}
.numkey{
	text-align : center;
	font-size : 15px;
	width: 400px;
	height: 200px;
	padding-right: 20px;
}
.numkey tr td{
	width: 25%;
	height: 68px;
}
.num{
	
	font-size: 30px;
}



 
.mask{width:100%; height:100%; position:fixed; left:0; top:0; z-index:10; background:#000; opacity:.5; filter:alpha(opacity=50);}
 
#modalLayer{display:none; position:relative;}
#modalLayer .modalContent{width:440px; height:200px; padding:20px; border:1px solid #ccc; position:fixed; left:50%; 
top:50%; z-index:11; background:#fff;}
#modalLayer .modalclose button{position:absolute; right:0; top:0; cursor:pointer;}

#point_save_modal{display:none; position:relative;}
#point_save_modal .save_modalContent{width:440px; height:200px; padding:20px; border:1px solid #ccc; position:fixed; left:50%; 
top:50%; z-index:11; background:#fff;}
#point_save_modal .modalclose button{position:absolute; right:0; top:0; cursor:pointer;}

 
#tel_dis_modal{display:none; position:relative;}
#tel_dis_modal .tel_modalContent{width:440px; height:200px; padding:20px; border:1px solid #ccc; position:fixed; left:50%; 
top:50%; z-index:11; background:#fff;}
#tel_dis_modal .modalclose button{position:absolute; right:0; top:0; cursor:pointer;}








