@charset "UTF-8";

.middle{
	border: solid 1px black; 
	width: 800px;
	height: 200px;
	position:relative;
}
.mdlist{	
	margin-right : 0px;
	float: left; 
	display: inline-block;
	
}
.listbutton{
	float: right;	
}


.listtable {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.listbutton{
	float: right;
}
#addlist{
	position: absolute; float: left; bottom: 0px;
	vertical-align: bottom;
	
}

.bottom{
		border: solid 1px black; 
	width: 800px;
	height: 200px;
}

.functionkey{
	float: left;
	padding-right: 30px;
}

.printprice{
	float: left;
	padding-right: 30px;
}
.numbotton{
	float: right;
}

